<header class="fz-header">
    <fz-image [key]="'LOGO'" [height]="55" [width]="55" class="fz-logo"></fz-image>
    <section class="actions">
        <button (click)="openCart()" class="fz-cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <span aria-roledescription="badge" class="fz-badge">{{cardCounter}}</span>
        </button>
        <button (click)="goToHome()" class="fz-icon-button circle">
            <i class="fa-solid fa-home"></i>
        </button>
        <button (click)="logout()" class="fz-icon-button circle">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </section>
</header>