<section class="fz-section search-box">
    <form [formGroup]="form">
        <input formControlName="search" type="text" class="fz-search" placeholder="Buscar clases" />
    </form>
    <button (click)="search()" class="fz-icon-button circle"><i class="fa-solid fa-search"></i></button>
    <button (click)="openFilters()" class="fz-icon-button outline circle"><i class="fa-solid fa-filter"></i></button>
</section>
<section class="fz-section results-counter">
    <span>Resultados encontrados: {{courses.length}}</span>
</section>
<section class="fz-section course-list">
    @for (course of courses; track $index) {
    <fz-course-card [course]="course" />
    }
</section>