<section class="fz-section search-box">
    <input type="text" class="fz-search" placeholder="Buscar cursos" />
    <button class="fz-icon-button circle"><i class="fa-solid fa-search"></i></button>
    <button class="fz-icon-button outline circle"><i class="fa-solid fa-filter"></i></button>
</section>
<section class="fz-section results-counter">
    <span>Resultados encontrados: {{courses.length}}</span>
</section>
<section class="fz-section course-list">
    @for (course of courses; track $index) {
    <fz-course-card [course]="course" />
    }
</section>