@if (course) {
<section class="imageContainer">
    <fz-image [width]="320" [path]="course.thumbnailUrl" [alt]="course.title + ' Details Image'" />
</section>
<section class="details">
    <section class="pills">
        <div class="pill">{{course.category.name}}</div>
        <div class="pill">{{course.level | level}}</div>
    </section>
    <p>Instruido por: <strong>{{course.instructor}}</strong></p>
    @if(!course.owner){
    <p>{{course.description}}</p>
    }
    <p>Sede: <strong>{{course.headquarters.name}} ({{course.headquarters.town}})</strong></p>
    @if (!course.owner) {
    <section class="price">
        <h4>¡Inscribete ahora!</h4>
        <span class="amount">{{ course.price | currency: 'COP': 'symbol-narrow': '1.0-0': 'es-CO'}}</span>
    </section>
    }
    @else {
    <section class="schedules">
        <h4>Horarios disponibles</h4>
        @for (item of course.schedule; track $index) {
        <p class="schedule">
            {{item | schedule}}
        </p>
        }
    </section>
    }
    <section class="buttons">
        @if(!course.owner){
        <button (click)="addCartAndGoToPay()" class="fz-button">¡Quiero este curso!</button>
        <button (click)="addCartItem()" class="fz-button rose"><i class="fa-solid fa-cart-shopping"></i>
            <span>Añadir al carrito</span>
        </button>
        }
        @else {
        <button (click)="goToMaps()" class="fz-button">¿Como llegar?</button>
        <button (click)="showModal()" class="fz-button rose">Mostar código QR</button>
        }
    </section>
</section>
}