<form class="form-login" [formGroup]="form">
    <fieldset class="form-group">
        <legend>Usuario</legend>
        <input formControlName="username" type="text" placeholder="GymRat03">
    </fieldset>
    <fieldset class="form-group">
        <legend>Contraseña</legend>
        <input formControlName="password" type="password" placeholder="********">
    </fieldset>

    <button (click)="login()" [disabled]="form.invalid" class="fz-button">Iniciar</button>
</form>

<a routerLink="/auth/register" class="fzLink registerLink">¿No tienes cuenta? Unéte al equipo</a>