<footer class="fz-footer">
    @if (!hasUser) {
    <form class="fz-form-onboarding">
        <h2>Transforma tu vida hoy</h2>
        <h4>Únete a nuestra comunidad fitness y da el primer paso hacia tu mejor versión</h4>
        <input type="text" name="" placeholder="Ingresa tu correo electrónico" />
        <button class="fz-button">🔥 ¡Quiero unirme ahora!</button>
    </form>
    }

    <fz-image key="LOGO" class="fz-logo"></fz-image>
    <section class="fz-footer-section">
        <h4 class="fz-section-title">Navegación rápida</h4>
        <ul class="fz-footer-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Clases</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Sobre nosotros</a></li>
        </ul>
    </section>
    <section class="fz-footer-section">
        <h4 class="fz-section-title">Conecta con nosotros</h4>
        <ul class="fz-footer-social">
            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </section>
</footer>
<section class="fz-footer-links">
    <a href="#">Términos de uso</a>
    <a href="#">Política de privacidad</a>
</section>